*{
    /* This * part is for resetting all elements' position*/
    margin: 0px;
    padding: 0px;
}

html{
    background-color: #353b48;
}

ul{
    list-style-type: none; /* Deleting bulletpoints for link (tag <a>) in the list*/
}

nav{
    background-color: #718093; /* Color taken from FLAT UI COLOR 2 */
}

#main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

nav #main-menu li a{
    color: #fff;
    font-family: Helvetica, Times, serif;
    text-decoration: none; /* For removing underlines in the links*/
    display: block; /* Turn all nav bar's links into blocks so we can play with spacing (padding)*/
    padding: 15px 25px;
}

nav #main-menu li:hover a{
    background-color: #e84118; /* For changing the color of the link's background whenever the mouse is hovered through that block*/
    transition: all 0.3s ease; /* Make the animation looks smoother*/
}





main .main-article h1{
    margin-bottom: 5vh; 
    margin-left:20vw; 
    margin-right: 20vw; 
    color: white;
    font-size:3.5rem; 
    font-family: Helvetica, Times, serif;
}

main .main-article p{
    margin-left:20vw; 
    margin-right: 20vw; 
    margin-bottom: 5vh; 
    font-size: 1.5rem; 
    color: white;
    font-family: Helvetica, Times, serif; 
    text-align: justify;
}

footer #line-break{
    width: 60vw; 
    margin-left: 20vw; 
    margin-right: 20vw; 
    margin-bottom: 2vh; 
    background-color: #c23616; 
    height: 0.25vh;
}

footer #image-icon{
    width: 4vw; 
    height: 4vw; 
    margin-left: 48vw; 
    margin-right: 48vw;
}
footer #image-icon img{
    width: 4vw; 
    height: 4vw;
}

footer #footer-line {
    text-align: center;
    margin-bottom: 2vh;
}

@media screen and (max-width: 900px){
    nav #main-menu {
        display: flex; /* Displaying all links in the nav bar within a single line*/
        flex-direction: column;
        text-align: center;
    }
    nav #main-menu li a{
        display: block;
        font-size: 0.9rem;
    }

    main .main-article h1{
        font-size: 1.7rem;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    main .main-article p{
        font-size: 0.8rem;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    footer #line-break{
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
    }
    footer #image-icon{
        width: 20vw; 
        height: 20vw; 
        margin-left: 40vw; 
        margin-right: 40vw;
    }
    
    footer #image-icon img{
        width: 20vw; 
        height: 20vw;
    }
}
